{% extends 'base.html.twig' %}

{% block title %}Address Book - City List{% endblock %}

{% block body %}
    <div class="row mt-5 mb-5">
        <div class="col-6">
            <a href="{{ url('homepage') }}" class="btn btn-default mr-3">Contacts</a>
            <a href="{{ url('country_list') }}" class="btn btn-default">Countries</a>
        </div>
        <div class="col-6 text-right">
            <a href="{{ url('new_city') }}" class="btn btn-primary">New City</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Country</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for city in cities %}
                    <tr>
                        <td>{{ city.id }}</td>
                        <td>{{ city.country.name }}</td>
                        <td>{{ city.name }}</td>
                        <td>
                            <a href="{{ url('edit_city', {'id': city.id}) }}">Edit</a>
                            |
                            <a href="{{ url('delete_city', {'id': city.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">There are no cities to show</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
